# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.env
*.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model / large files
*.bin
*.pt
*.onnx

# Project-specific
uploads/